blue = #0f76bb
red = #ee1c25

@import ("../fonts/style.css")
@import url("animation.css")
@import url("slide.css")

a
	color blue
	text-decoration none
	transition 0.4s all ease

a:hover
	background #fff
	color #000

body
	font-size 1em
	font-family "Open Sans", arial

h1,h2,h3,h4

	font-family 'Amaranth', sans-serif


iframe#back
	margin-top 60px
	max-width 100%
	max-height 1900px
	position absolute
	z-index -9

ul
	list-style-type: none

#back-slide
	margin-top 60px
	max-width 100%
	position absolute !important
	z-index -9



#top
	background red
	margin 0 auto
	width 100%
	

	header
		display inline-block
		margin 0 auto
		max-width 1100px
		padding 1em 2em
		vertical-align top

		h1, summary
			color #efefef
			text-shadow 0px 5px 5px rgba(0, 0, 0, .75)


	#login
		float right
		font-size 0.6em

		input
			color red
			border none
			border-radius 2px
			display block
			margin 1em
			padding 0.15em
			transition 0.3s all ease
			width 100px

		input:focus, input:hover
			box-shadow 0px 0px 5px rgba(0, 0, 0, .75)
			font-size 1.3em
		input[type="submit"]
			background blue
			border-radius 1em
			box-shadow none
			color #fff
			font-size 1em
			transition 0.3s all ease

		input[type="submit"]:hover
			background #fff
			box-shadow 0px 0px 5px rgba(0, 0, 0, .75)
			color blue
			font-size 1em
		#tool
			margin-left -30px

			a
				color #fff
			a:hover
				color blue


#navbar
	background linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%)
	box-shadow rgba(0, 0, 0, .75)
	max-width 100%

	nav
		margin 0 auto
		max-width 1100px

		ul
			max-width 900px
			margin 0 auto

			li
				display inline-block
				padding 2em 0.5em
				vertical-align top


				a
					padding 2em 0.5em

				a:hover
					background rgba(255, 255, 255, .3)
					box-shadow inset 0px 0px 5px rgba(0, 0, 0, .5)


#booking
	background #f3f3f3
	border-radius 1em
	box-shadow 0px 0px 8px rgba(0, 0, 0, .85)
	color #666
	margin 1em 8%
	padding 0.3em 2em
	transition 0.5 all ease
	width 400px

	h3
		color red

	input
		border 1px solid blue
		border-radius 8px
		color blue
		display block
		margin 0.5em 0;
		padding 5px
		font-size 1.4em
		transition all 0.5s ease

	input:hover, input:focus
		border 1px solid red
		box-shadow 0px 0px 8px rgba(0, 0, 0, .5)
		color red

	input[type="submit"]
		background blue
		border 1px solid #f3f3f3
		color #fff
		margin 0 auto
		text-align center
		transition 0.5s all ease
		width 50%

	input[type="submit"]:hover
		background red
		border-width 2px
		width 100%


	#in, #out
		display inline-block
		vertical-align top
		width 48.5%

	#in input, #out input
		width 90%

	#person-l, #person-r
		display inline-block
		vertical-align top
		width 48.5%

	#person-l input, #person-r input
		width 90%
	

	#where
		width 100%

#content
	background #f3f3f3 url("../img/bg.png") left top repeat-x
	box-shadow -8px 0px 20px rgba(0, 0, 0, .75)
	padding 4em 0

	#news
		display inline-block
		margin 0 auto
		max-width 800px
		padding 0 5%
		vertical-align top

		.post
			padding 0.5em
			width 100%
			transition 0.5s all ease

			h3
				color blue


			figure, p
				display inline-block
				vertical-align top


			figure
				overflow hidden
				width 20%

			figure a img
				border none

			figure img
				width 250px
				transition: 0.5s all ease;

			figure img:hover

				-webkit-transform: translateX(-30px);
				-moz-transform: translateX(-30px);
				-o-transform: translateX(-30px);
				-ms-transform: translateX(-30px);

			p
				padding 2em
				width 60%

			.readmore
				text-align right

				a
					background red
					border-radius 0.4em
					padding 1em
					color #fff

				a:hover
					background blue
					box-shadow 0px 0px 5px rgba(0, 0, 0, .75)

		.post:hover
			background #ccc
			border-radius 8px

		.post:hover figure a img
			-webkit-transform: translateX(-30px);
			-moz-transform: translateX(-30px);
			-o-transform: translateX(-30px);
			-ms-transform: translateX(-30px);


		#video
			background url("../img/bta-video.jpg") no-repeat
			height 350px
			text-align center
			width 800px
			

			.icon-play
				color #fff
				cursor pointer
				font-size 16em
				opacity 0.4
				padding-top 0.2em
				text-shadow 0px 0px 5px rgba(0, 0, 0, .75)
				transition 0.4s all ease-out

			.icon-play:hover
				opacity 1



	#sidebar
		display inline-block
		vertical-align top
		width 20%

		input
			border 1px solid blue
			border-radius 8px
			color blue
			margin-left 10px
			padding 5px
			transition all 0.5s ease

		input:hover, input:focus
			border 1px solid red
			box-shadow 0px 0px 8px rgba(0, 0, 0, .5)
			color red


		#gallery
			background blue
			padding 10px
			margin o auto

			a:hover
				background none

			a:hover img
				opacity 1

			img
				border-radius 4px
				display inline-block
				margin-top 4px
				opacity 0.5
				transition 0.5s all ease
				vertical-align top
				width 48%

			.more
				color #fff
				text-align right

			.more:hover
				color red

footer
	margin 0 auto
	max-width 1100px
	text-align center